@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/DiemCachLy/InsertDCL" method="post">
    Mã điểm cách ly <input type="text" name="MaDiemCL" id="MaDiemCachLy" /><br>
    Tên điểm cách ly <input type="text" name="TenDiemCL" id="TenDiemCachLy" /><br>
    Địa chỉ <input type="text" name="DiachiCL" id="DiaChi" /><br>
    <input type="submit" name="submit" value="Thêm" />
</form>